[run]
source = webbuttonwatcher
omit = 
    webbuttonwatcher/interface/gui.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    pass
    raise NotImplementedError
    except ImportError 